@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

body {
  background-color: #2c2828;
}

.open-gefest {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 30px;
  right: 30px;

  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.gefest * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* COMMON */

.gefest {
  position: fixed;
  bottom: -40px;
  right: 75px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  animation: backInUp .3s linear;
  transform: scale(0.8);
}

.gefest__wrapper {
  position: relative;
  width: 500px;
  height: 780px;
  padding: 60px 70px 71px 70px;
  background: #ffffff;
  border-radius: 9px;
  overflow: hidden;
}

.gefest__wrapper::before {
  content: "";
  height: 7px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5a6ded;
  color: #5a6ded;
}

.gefest__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 14px;
  top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  img:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.gefest .form,
.gefest .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.gefest .button {
  padding: 5px 20px;
  width: 100%;
  height: 65px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.gefest .button:hover {
  transition: 0.3s ease all;
  opacity: 0.8;
}

.gefest .button__primary {
  background: #5a6ded;
  color: #ffffff;
}

.gefest .button__secondary {
  background: rgba(90, 109, 237, 0.1);
  color: #5a6ded;
}
.gefest .buttons-group * {
  margin-bottom: 15px;
}

.gefest .buttons-group *:last-child {
  margin-bottom: 0;
}

/* ----------- */

/* REGISTRATION */
.gefest h3 {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

.gefest .form__field {
  margin-bottom: 15px;
}

.gefest .form__field p {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 13px;
  color: #939c9e;
}

.gefest .form__field .form__input {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #f4f6f9;
  border-radius: 6px;
}
.gefest .form__field .form__input input {
  position: relative;
  display: block;
  padding: 15px 60px 15px 20px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #303638;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  outline: none;
}

.gefest .form__input--success {
  outline: 1px solid #4FB602 !important;
}

.gefest .form__input--error {
  outline: 1px solid #FA5657 !important;
}

.gefest .form__input--success::before {
  content: '';
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/img/check.svg");
}

.gefest .form__input--error::before {
  content: '';
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/img/cross.svg");
}

.gefest .form .form__input:focus {
  outline: 1px solid #5a6ded;
}

.checkbox__field {
  margin: 18px 0 0 0;
}

.gefest .checkbox__field label {
  display: block;
  position: relative;
  padding-left: 42px;
  user-select: none;
  font-size: 15px;
  line-height: 140%;
  color: #303638;
}

.gefest .checkbox__field label a {
  font-size: 15px;
}

.gefest .checkbox__field label a {
  color: #5a6ded;
}

.gefest .checkbox__field label::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 5px;
  border: 1px solid #5a6ded;
}

.gefest .checkbox__field input:checked + label::before {
  background-color: #5a6ded;
  background-image: url(../assets/img/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.gefest .checkbox__field input {
  display: none;
}

/* ----------- */

/* DOWNLOAD */

.gefest .download {
  height: 100%;
}

.gefest .download__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gefest .download-file {
  padding: 28px 40px;
  border: 2px dashed #5a6ded;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-out all;
}

.gefest .download-file:hover {
  transform: scale(1.1);
}

.gefest .download-file * {
  margin-bottom: 8px;
}

.gefest .download-file * :last-child {
  margin-bottom: 0;
}

.gefest .download-file__title {
  font-weight: 700;
  line-height: 150%;
  color: #303638;
}

.gefest .download-file__desc {
  color: #939c9e;
  font-size: 15px;
}

/* ----------- */

/* SUCCESS */
.gefest .success {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.gefest .success__header h3 {
  margin-bottom: 20px;
}

.gefest .success__header span {
  display: block;
  margin-bottom: 21px;
}

.gefest .success__header p {
  font-size: 15px;
  color: #939c9e;
}

.gefest .success__content {
  margin-top: 53px;
  padding: 55px;
  width: 360px;
  height: 256px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(98, 98, 98, 0.08);
  border-radius: 8px;
}

.gefest .success .buttons-group {
  margin-top: auto;
  margin-bottom: 0;
}

.gefest .success__content * {
  margin-bottom: 8px;
  line-height: 150%;
}

.gefest .success__content *:last-child {
  margin-bottom: 0;
}

.gefest .success__text {
  font-weight: 700;
}

.gefest .success__text span {
  font-weight: 700;
  color: #5a6ded;
}

.gefest .success__subtext {
  font-size: 15px;
  color: #939c9e;
}

/* ----------- */


@keyframes backInUp {
  0% {
    transform: translateY(1200px) scale(.1);
  }

  100% {
    transform: translateY(0px) scale(.8);
  }
}

@media (max-width: 767px) {
  .open-gefest {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
  }

  .gefest {
    bottom: -80px;
    right: 10px;
    font-size: 15px;
    transform: scale(0.7);
  }

  .gefest__wrapper {
    position: relative;
    width: 400px;
    height: 650px;
    padding: 40px 20px 40px 20px;
    background: #ffffff;
    border-radius: 9px;
    overflow: hidden;
  }

  .gefest h3 {
    margin-bottom: 18px;
    font-size: 22px;
  }
  .gefest .form__field {
    margin-bottom: 10px;
  }
  .gefest .form__field input {
    height: 40px;
  }
  .gefest .checkbox__field label {
    font-size: 12px;
  }

  .gefest .checkbox__field label a {
    font-size: 12px;
  }

  .gefest .success__content {
    margin-top: 30px;
    padding: 30px;
    width: 360px;
    height: 200px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(98, 98, 98, 0.08);
    border-radius: 8px;
  }

  .gefest .success__header h3 {
    margin-bottom: 10px;
  }

  @keyframes backInUp {
    0% {
      transform: translateY(1200px) scale(.1);
    }

    100% {
      transform: translateY(0px) scale(.7);
    }
  }
}




