@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import "react-datepicker/dist/react-datepicker.css";

body {
  background-color: #2c2828;
}

.open-gefest {
  width: 500px;
  height: 60px;
  position: fixed;
  bottom: -6px;
  right: -30px;
  transform: scale(.8);

  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.gefest {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  {
    margin: 0;
  }

}

/* COMMON */

.gefest__wrapper {
  position: relative;
  height: 100%;
  background: #ffffff;
  border-radius: 9px;
  overflow: hidden;
}

.gefest__wrapper::before {
  content: "";
  height: 7px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5a6ded;
  color: #5a6ded;
}

.gefest__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 14px;
  top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  img:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.gefest__back {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 14px;
  top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;

  img:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}


.gefest {
  $root: &;
  width: 500px;
  height: 780px;
  position: fixed;
  bottom: -18px;
  right: -30px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  color: #303638;
  animation: backInUp .3s linear;
  transform: scale(0.8);

  .react-datepicker-time__input {
    padding: 0 !important;
    font-size: 15px !important;

    &:focus {
      outline: none !important;
    }
  }


  .ant-upload-list {
    margin-top: 20px;
  }

  .ant-tooltip {
    display: none;
  }

  .header {
    text-align: center;

    h3 {
      margin-bottom: 25px;
    }
  }

  .container-primary {
    padding: 60px 70px 71px 70px;
    height: 100%;
  }

  .container-secondary {
    padding: 107px 34px 70px 34px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    padding: 5px 20px;
    width: 100%;
    max-width: 360px;
    height: 65px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  .button__primary {
    background: #5a6ded;
    color: #ffffff;
  }


  .button:hover {
    transition: 0.3s ease all;
    opacity: 0.8;
  }

  .button:disabled {
    background-color: #EFF0FD;
    color: #5A6DED;
    cursor: default;
    opacity: initial;
  }

  .form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .form {
    //padding-bottom: 65px;

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .button__secondary {
    background: rgba(90, 109, 237, 0.1);
    color: #5a6ded;
  }

  .buttons-group {
    width: 100%;

    * {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* ----------- */

  h3 {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
  }

  .form__field {
    width: 100%;
    margin-bottom: 15px;

    p {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 13px;
      color: #939c9e;
    }

    .form__input {
      position: relative;
      display: block;
      width: 100%;
      height: 50px;
      background-color: #f4f6f9;
      border-radius: 6px;

      input {
        position: relative;
        display: block;
        padding: 15px 60px 15px 20px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 20px;
        color: #303638;
        font-weight: 500;
        border-radius: 6px;
        border: none;
        outline: none;

        &:focus {
          outline: 1px solid #5A6DED
        }

        &::placeholder {
          color: #939C9E;
          font-weight: 500;
          font-size: 18px;
        }
      }

      &--success {
        outline: 1px solid #4FB602 !important;

        &::before {
          content: '';
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 15px;
          width: 20px;
          height: 20px;
          background-image: url("../assets/img/check.svg");
        }
      }

      &--error {
        outline: 1px solid #FA5657 !important;

        &::before {
          content: '';
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 15px;
          width: 20px;
          height: 20px;
          background-image: url("../assets/img/cross.svg");
        }
      }
    }

  }

  /* REGISTRATION */
  .registration {
    .registration-form {
      justify-content: space-between;
    }

    .button {
      margin-bottom: 65px;
    }
  }


  /* ----------- */


  /* DOWNLOAD */

  .download {
    .buttons-group {
      margin-bottom: 65px;
    }
  }


  .download-file {
    padding: 28px 40px;
    border: 2px dashed #5a6ded;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-out all;

    & * {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    &__title {
      font-weight: 700;
      line-height: 150%;
      color: #303638;
    }

    &__desc {
      color: #939c9e;
      font-size: 15px;
    }

    &__error {
      font-family: 'SF Pro Display';
      font-size: 18px;
      color: #FA5657;
    }
  }


  /* ----------- */


  /* Data */
  .data {
    .form__content {
      align-items: flex-start;
    }

    &__help {
      padding-left: 34px;
      position: relative;
      font-family: 'SF Pro Display';
      color: #FD5079;
      font-weight: 600;
      font-size: 15px;
      text-align: left;

      &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: 0px;
        width: 24px;
        height: 24px;
        background-image: url("../assets/img/question.svg");
      }

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }

    .button {
      margin-bottom: 65px;
    }
  }


  /* ----------- */


  /* SUCCESS */
  .success {
    text-align: center;
    display: flex;
    flex-direction: column;

    &__text {
      font-weight: 700;

      span {
        font-weight: 700;
        color: #5a6ded;
      }
    }

    &__subtext {
      font-size: 15px;
      color: #939c9e;
    }

    .buttons-group {
      margin-top: auto;
      margin-bottom: 0;
    }
  }

  .success__header {
    h3 {
      margin-bottom: 20px;
    }

    span {
      display: block;
      margin-bottom: 21px;
    }

    p {
      font-size: 15px;
      color: #939c9e;
    }
  }

  .success__content {
    margin-top: 53px;
    padding: 55px;
    width: 360px;
    height: 256px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(98, 98, 98, 0.08);
    border-radius: 8px;

    & * {
      margin-bottom: 8px;
      line-height: 150%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .enter-number {
    &__header {
      margin-bottom: 80px;

      p {
        font-weight: bold;
      }
    }

    &__form {
      margin-bottom: 60px;

      p {
        font-weight: 400;
        margin-bottom: 50px;
        font-size: 20px;
        color: #727272;
      }

      input {
        font-family: 'SF Pro Display', sans-serif;
      }

      button {
        width: 360px;
      }
    }

    &__terms {
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      text-align: center;
    }
  }

  .confirm-number {
    &__header {
      margin-bottom: 100px;

      p {
        font-family: 'SF Pro Display';
        font-size: 20px;
        font-weight: 400;
        color: #17202C;
        line-height: 22px;
      }
    }

    .form__field {
      display: flex;
      justify-content: center;
    }

    .check-call-input {
      margin-right: 10px;
      justify-content: center;
      text-align: center;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      input[type='number'] {
        -moz-appearance: textfield;
      }

      input {
        margin-right: 10px;
        width: 30px !important;
        font-size: 32px;
        outline: none;
        border: none;
        border-bottom: 2px solid blue;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__timer {
      margin-top: 80px;
      font-size: 15px;
      color: #727272
    }

    &__notice {
      font-family: 'SF Pro Display';
      margin-top: 25px;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      color: #5A6DED;
    }

    a {
      font-weight: 600;
    }
  }

  .example-check {
    text-align: center;

    &__img {
      margin-bottom: 15px;
    }

    &__notice {
      padding: 15px 30px;
      background-color: #FFF3F2;
      color: #FF6E5A;
      font-weight: 600;
      font-size: 13px;
      border-radius: 6px;
    }
  }
}


/* ----------- */


@keyframes backInUp {
  0% {
    transform: translateY(1200px) scale(.1);
  }

  100% {
    transform: translateY(0px) scale(.8);
  }
}

@media (max-width: 767px) {
  .open-gefest {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
  }

  .gefest {
    bottom: -130px;
    right: -35px;
    font-size: 15px;
    transform: scale(0.6);

    .gefest__wrapper {
      position: relative;
      background: #ffffff;
      border-radius: 9px;
      overflow: hidden;
    }

    h3 {
      margin-bottom: 18px;
      font-size: 22px;
    }

    .form__field {
      margin-bottom: 10px;
    }

    .form__field input {
      height: 40px;
    }

    .download {
      .buttons-group {
        margin-bottom: 51px;
      }
    }

    .registration,
    .data {
      .button {
        margin-bottom: 51px;
      }
    }

    .success__content {
      margin-top: 30px;
      padding: 30px;
      width: 360px;
      height: 200px;
    }

    .success__header h3 {
      margin-bottom: 10px;
    }

    @keyframes backInUp {
      0% {
        transform: translateY(1200px) scale(.1);
      }

      100% {
        transform: translateY(0px) scale(.7);
      }
    }
  }
}







